/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/11/2018, 16:31:56
    Author     : laura
*/
.impar{
    background-color: #FFC;
}
.par{
    background-color: #CFC;
}
.numero{
    background-color: #FF0;
    color:#000;
}
.texto{
    background-color: #FF0;
    color:#000;
}
.tituloasc{
    background-color: #FF0;
}
.titulodes{
    background-color: #C9C;
}
.hover{
    background-color: #0f0;
    color:#000;
    cursor: pointer;
}
.clickable{
    color:#000;
}
.ordenar{
    background-color: #3FF;
    color:#F3C;
}
.verpagina{
    border:groove;
    background-color: #6F9;
}
