/* 
    Created on : 28/10/2018, 10:33:22
    Author     : laura
*/
body {
    background-color: #F8E0F7;
}
#logo_sup{
    height:80px;
    width: 80px;
    float: left;
}
#config_icon{
    height:30px;
    width: 30px;
    float: right;
    padding: 10px;
}
#notifications, .contingut {
    border: 2px solid pink;
    border-radius: 15px;
    margin: 2px;
    background-color: white;
    font-family: 'Mali', cursive;
    font-size: 15px;
}
.caixa_formulari{
    margin: 2px;
    font-family: 'Mali', cursive;
    font-size: 15px;
}
#notifications{
    font-size: 20px;
}
#notification_reminder{
    color: gray;
}
.columna_import{
    text-align: right;
}
.numeros_vermells{
    color:red;
}
a:link {
    text-decoration: none;
    color:black;
}

a:visited {
    text-decoration: none;
    color:black;
}
li{
    display: inline-block;
    border: 2px solid pink;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
}
ul {
    list-style-type: none;
    
}
/*estils per a la vista de la taula: */
th, td, tr, #cercador{
    border-radius: 5px;
    padding:5px;
}
.impar{
    background-color: #e4e3e2;
}
.par{
    background-color: #cacaca;
}
.titulo{
    background-color: #8b8b8b;
}
/******************************/
.impar {
	background-color: #FFC;
}
.par {
	background-color: #CFC;
}
.numero {
	background-color: #FF0;
	color:#000;
}
.texto {
	background-color: #FF0;
	color:#000;
}
.fecha {
	background-color: #FF0;
	color:#000;
}
.tituloasc {
	background-color: #FF0;
}
.titulodes {
	background-color: #C9C;
}
.hover {
	background-color: #0F0;
	color:#000;
	cursor: pointer;
}
.clickable {
	color: #000;
}
.ordenar {
	background-color:#3FF;
	color: #F3C;
}
span{
    border: #000 solid 1px;
    padding: 2px;
    margin: 2px;
}
.verpagina{
	border:groove;
	background-color:#6F9;
}
/* prova de la cerca a la taula */
table {
    /*font-family: arial, sans-serif;*/
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    /*background-color: #dddddd;*/
}
/* fi de la prova de la cerca a la taula */
#cercador{
    margin: 5px;
}
